# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Cmake-generated makefile
Makefile

# Backup files
*~
*.bak
*.BAK
\#*

# Junk
*.exe

# Visual Studio
.vs
CMakeSettings.json

# CMake
build/
testBin/
Debug/
